@page "/todo"
@using ToDoList.Services
@inject TodoService TodoService
@rendermode InteractiveServer

<h3>Todos</h3>

<ui>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsComplete" />
            <input @bind="todo.Name" />
            @* @todo.Name *@
            <button>Update</button>
            <button @onclick="() => RemoveTodo(todo.Id)">Remove</button>
        </li>
    }
    @if (todos.Count == 0)
    {
        <h3>Inga todos hittades</h3>
    }
</ui>

<button @onclick="RefreshTodoList">Refresh</button>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>


@code {
    private List<TodoItem> todos = [];
    string newTodo = "";

    protected override async Task OnInitializedAsync()
    {
        await RefreshTodoList();
    }

    async Task RefreshTodoList()
    {
        todos = await TodoService.GetAllTodos();
        Console.WriteLine($"todos.Count : {todos.Count}");
        // todos.ForEach(x => Console.WriteLine(x.Name));
    }

    async void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            TodoItem createdTodo = await TodoService.CreateTodo(newTodo);
            todos.Add(createdTodo);
            newTodo = string.Empty;
            StateHasChanged();
        }
    }

    async void RemoveTodo(long id)
    {
        await TodoService.DeleteTodo(id);
        todos.RemoveAll(todo => todo.Id == id);
        StateHasChanged();
    }
}
